version: "3.9"

services:
  web:
    build: .
    command: poetry run uvicorn app.main:app --host 0.0.0.0 --port 3000 --reload
    volumes:
      - .:/dornica_test
    ports:
      - 3000:3000
    env_file:
      - ./.env
    depends_on:
      - db
    links:
      - "db:pgsql-server"

  db:
    image: postgres:18.1-alpine3.23
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB_NAME}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /var/lib/postgresql/data
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "8080:5432"
    env_file:
      - ./.env

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    restart: always
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_USER}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "8088:80"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    depends_on:
      - db
    links:
      - "db:pgsql-server"
    env_file:
      - ./.env

volumes:
  postgres_data:
  pgadmin-data:
